
@* @{
    ViewData["Title"] = "About";
}

<h1>About</h1> *@

<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>За нас | Авточасти за Мерцедес</title>
    <link href="~css/site.css" type="text/css" rel="stylesheet" />
</head>
<body>

    <header>
        <div class="container">

            <div id="Logo">
                <a asp-action="Index" asp-controller="Home"><img src="~/Pictures/Mercedes.jpg" /></a>
            </div>
        </div>
    </header>

    <section class="about">
        <h2>За нас</h2>
        <p>Ние сме лидер на пазара за авточасти за Мерцедес. С повече от 10 години опит, предоставяме оригинални и висококачествени части, които осигуряват безопасността и ефективността на вашия автомобил.</p>
        <p>Нашият екип е съставен от професионалисти, които ще ви помогнат с всяко ваше запитване и нужда.</p>
    </section>

    

</body>
</html>

