@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авточасти за Мерцедес</title>
    <link href="~/css/site.css" type="text/css" rel="stylesheet" />
</head>
<body>

    <header>

        <div class="container">

            <nav>
                <h1>Авточасти за Мерцедес</h1>
               @*  <ul>
                    <li><a href="#">Начало</a></li>
                    <li><a href="~/html/Products.html">Продукти</a></li>
                    <li><a href="~/html/about.html">За нас</a></li>
                    <li><a href="~/html/Contacts.html">Контакти</a></li>
                    <li><a href="~/html/Blog.html">Блог</a></li>
                </ul> *@
                <div id="Logo">
                    <a href="index.html"><img src="~/Pictures/Mercedes.jpg" /></a>
                </div>
            </nav>



        </div>
    </header>


    <div class="hero">
        <div class="fon">
            <div class="text">
                <h2>Намерете качествени авточасти за Мерцедес</h2>
                <br />
                <br />


                <a href="products.html" class="btn">Прегледайте нашите продукти</a>

            </div>


            <img src="~/Pictures/Gt63.jpg"/>

        </div>
    </div>

    <section class="categories">
        <div class="category">
            <a href="products.html">
                <h3>Спирачни системи</h3>
            </a>


            <p>Най-добрите спирачни части за вашия автомобил.</p>
        </div>
        <div class="category">
            <a href="products.html"><h3>Филтри</h3></a>

            <p>Оригинални филтри за всяка нужда.</p>
        </div>
        <div class="category">
            <a href="products.html"><h3>Амортисьори</h3></a>
            <p>Подобрете комфорта и безопасността с качествени амортисьори.</p>
        </div>
        <div class="category">
            <a href="products.html"><h3>Гуми и джанти</h3></a>
            <p>Намерете лесно и бързо точните и оригиналните гуми и джанти на Мерцедес</p>
        </div>
    </section>

    <footer>
        <p>&copy; 2024 Авточасти за Мерцедес. Всички права запазени.</p>
    </footer>

</body>
</html>

